.project__container{
  width: 750px;
}

.project__card{
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0 ,0.1);
  padding: 1.5rem 2rem;
  border-radius: 1.5rem;
  margin-bottom: var(--mb-3);
  
}

.project__img{
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin-bottom: var(--mb-1);
  margin-right: 1%;
}
.project_button{
  margin: 1%;
  cursor: pointer;
}
.project__name{
  font-size: var(--normal-font-size);
  font-weight: var(--mb-0-25);
}

.project__description{
  font-size: var(--small-font-size);
}

.project__top{
  display: flex;
  justify-content: space-around;
}
.project__sub_title{
  color: var(--text-color);
}
.project__top div{
  margin-top: 15px;
  font-size: 9px;
}

/* Swiper Class  */

.swiper-pagination-bullet {
  background-color: var(--text-color) !important;
}
.swiper-pagination-bullet-active {
  background-color: var(--title-color) !important;
}

.swiper-slide:hover{
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 1px;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .project__container{
      width: initial;
  }
  .project__card{
      padding: 1.25rem 1.5rem;
  }
  .project__img{
    width: 100px;
    height: auto;
    margin-right: 1%;
  }
}
